@{
    ViewData["Title"] = "Home Page";
}


<div class= "text-center">
    <h1 class="display-4">Good day :)</h1>
    <hr />
    <div class="text-center">
        <img src="~/img/logo.png" alt="bank" width="500px" height="400px" />
    </div>

</div>

